<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">User access</li>
    </ol>
    <div class="row">
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Sign in</h1>
            </header>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Sign in to your account</h3>
                        <p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="signup.html">Register</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
                        <hr>
                        <form [ngFormModel]="signinForm">
                            <div class="top-margin">
                                <label>Username/Email <span class="text-danger">*</span></label>
                                <input ngControl="email" type="text" class="form-control">
                                <p *ngIf="email.pending">Fetching data from the server...</p>
                                <div *ngIf="email.dirty && !email.valid && !email.pending">
                                    <p *ngIf="email.errors.required">Username / Email is required.</p>
                                </div>
                            </div>
                            <div class="top-margin">
                                <label>Password <span class="text-danger">*</span></label>
                                <input ngControl="password" type="password" class="form-control">
                                <p *ngIf="password.pending">Fetching data from the server...</p>
                                <div *ngIf="password.dirty && !password.valid && !password.pending">
                                    <p *ngIf="password.errors.required">Password is required.</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <b><a href="">Forgot password?</a></b>
                                </div>
                                <div class="col-lg-4 text-right">
                                    <button (click)="!!signinForm.valid && submitData()" [disabled]="!signinForm.valid" class="btn btn-action" type="submit">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <!-- /Article -->
    </div>
</div>
<!-- /container -->
