<!DOCTYPE html>
<html lang="en">

<head>
    <base href="<%= APP_BASE %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= APP_TITLE %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
    <sd-app>Loading...</sd-app>
    <script>
    // Fixes undefined module function in SystemJS bundle
    function module() {}
    </script>
    <!-- @Prasanth : 15/7-->
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/dist/dev/js/headroom.min.js"></script>
    <script src="/dist/dev/js/jQuery.headroom.min.js"></script>
    <script src="/dist/dev/js/template.js"></script>
    <!-- shims:js -->
    <!-- endinject -->
    <% if (ENV === 'dev') { %>
        <script>
        System.config(<%=
      JSON.stringify(SYSTEM_CONFIG, null, 2)
    %>)
        </script>
        <% } %>
            <!-- libs:js -->
            <!-- endinject -->
            <!-- inject:js -->
            <!-- endinject -->
            <% if (ENV === 'dev') { %>
                <script>
                System.import('<%= BOOTSTRAP_MODULE %>')
                    .catch(function(e) {
                        console.error(e,
                            'Report this error at https://github.com/mgechev/angular2-seed/issues');
                    });
                </script>
                <% } %>
</body>

</html>
